.carousel {
  @apply scrim mb-4 w-full relative;

  padding-top: 56.25%;

  &:hover .chevron-arrow,
  &:hover .carousel-coin {
    transition: opacity 300ms ease;
    opacity: 0.6;
  }

  &:hover .carousel-coin--is-active {
    opacity: 1;
  }

  .chevron-arrow:hover,
  .chevron-arrow:focus {
    opacity: 1;
  }

  @media (--sm) {
    min-height: 368px;
    padding-top: 46.5%;
  }

  @media (--md) {
    min-height: 368px;
    padding-top: 37.5%;
  }
}
