.slide {
  @apply absolute top-0 bottom-0 left-0 right-0;

  width: 33.333333%;

  &:nth-of-type(2) {
    left: 33.333333%;
  }

  &:nth-of-type(3) {
    left: 66.666666%;
  }

  &--centered {
    @apply flex justify-center items-center px-2 flex-col;

    @media (--sm) {
      @apply flex-row;
    }
  }

  &__text-block {
    @apply max-w-xs text-center;
  }

  &__text {
    @apply text-white text-sm mb-5 leading-tight;
  }
}
