.tile-group {
  display: flex;


  &__item {
    @apply flex-none;

    padding: 0 2px;

    /* transform-origin: 0% 50%; */
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);;
    transition-delay: 400ms;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover ~ tile-group__item {
      transform: translateX(25%);
    }
  }

  &:hover .tile-group__item {
    transform: translateX(-25%);
  }

  & .tile-group__item:hover {
    transform: scale(1.5);
  }
}
