.tile {
  @apply w-1/2 flex-none mr-1;

  /* transform-origin: 0% 50%; */
  transition: 400ms transform linear;

  @media (--sm) {
    @apply w-1/3;
  }

  @media (--md) {
    @apply w-1/4;
  }

  @media (--lg) {
    @apply w-1/5;
  }

  &__title {
    @apply text-white text-sm;

    padding: 0 2%;
  }

  &:hover ~ .tile {
    transform: translateX(25%);
  }
}
