.tile-group {
  display: flex;

  &__item {
    @apply flex-none;
    padding: 0 2px;
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);;
    transition-delay: 400ms;

    &:hover ~ .tile-group__item {
      transform: translateX(25%);
    }
  }

  &:hover .tile-group__item {
    transform: translateX(-25%);
  }

  & .tile-group__item--is-active:hover {
    transform: scale(1.5);
    }

  & .tile-group__item--is-leftmost-active {
    transform-origin: left;

    &:hover ~ .tile-group__item--is-active {
        transform: translateX(50%);
      }
  }

  & .tile-group__item--is-rightmost-active {
    transform-origin: right;

    &:hover .tile-group__item--is-active {
      transform: translateX(-50%);
    }
  }
}
