.toggle-to-MyList-btn {
  @apply flex justify-center items-center px-6 border border-white z-10;
  height: 34px;
  border-radius: 18px;

  @media (--sm) {
    height: 36px;
  }

  &:hover {
    .rotate-transition {
      transform: rotate(180deg);
    }
  }

  &__text {
    @apply text-white;
    padding-left: 0.35rem;
  }
}
