.toggle-to-MyList-btn {
  @apply relative flex justify-center items-center px-6 border border-white z-10 cursor-pointer;
  height: 36px;
  border-radius: 18px;
  transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);;
  transition-delay: 400ms;

  &:hover {
    .rotate-transition {
      transform: rotate(180deg);
    }
  }

  &__text {
    @apply text-white;
    padding-left: .35rem;
  }
}
