.toggle-to-MyList-btn {
  @apply relative rounded-full flex justify-center items-center bg-main border border-white z-10 cursor-pointer opacity-0;
  width: 18px;
  height: 18px;
  transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);;
  transition-delay: 400ms;

  &:hover {
    .tooltip {
      display: flex;
    }
  }
}
