.myList-tile {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0, 0, 0.5, 1);
    animation-fill-mode: forwards;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0, 0, 0.5, 1);
    animation-fill-mode: forwards;
  }
}