.tile-group {
  @apply flex mb-8;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media (--sm) {
    @apply mb-10;
  }

  &__item {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 400ms;

    &--is-stationary {
      transform: translate(0) translateZ(0px);
    }

    &--is-soft-left {
      transform: translate(-25%) translateZ(0px);
    }

    &--is-hard-left {
      transform: translate(-50%) translateZ(0px);
    }

    &--is-soft-right {
      transform: translate(25%) translateZ(0px);
    }

    &--is-hard-right {
      transform: translate(50%) translateZ(0px);
    }

    &--is-left-edge {
      transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 400ms;
    }

    &--is-right-edge {
      transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 400ms;
    }
  }
}
