.selection {
  @apply flex flex-col px-4;

  @media (--md) {
    @apply flex-row p-0;
  }

  &__info {
    @apply w-full;
    order: 2;

    @media (--md) {
      @apply w-1/2 px-10 pt-6 flex flex-col justify-center;
      order: initial;
    }
  }

  &__poster {
    margin: 0 -1rem;
    order: 1;

    @media (--sm) {
      @apply mx-0;
    }

    @media (--md) {
      @apply w-1/2 pl-2;
      order: initial;
    }
  }

  &__title {
    @apply text-white font-bold text-2xl mb-3 mt-3;

    @media (--md) {
      @apply mt-0;
    }
  }

  &__text {
    @apply text-light-gray leading-tight text-sm;
  }

  /* &__description {
    transition: all .2s ease-in-out;

    &--is-expanded {
      @apply mb-4;
      max-height: none;
    }

    &--is-truncated {
      max-height: 54px;
      overflow: hidden;
    }
  } */

  &__content {
    /* padding top is important to preserve the y overflow (since we are using overflow-x-hidden) */
    @apply px-4 pt-8 pb-10 overflow-x-hidden;

    @media (--sm) {
      @apply pt-10;
    }
    @media (--md) {
      @apply px-10;
    }
  }

}
