.tab-panel {
  @apply absolute top-0 bottom-0 left-0 right-0;

  width: 33.333333%;

  &:nth-of-type(2) {
    left: 33.333333%;
  }

  &:nth-of-type(3) {
    left: 66.666666%;
  }

  &--centered {
    @apply flex justify-center items-center px-2 flex-col mx-auto;
    max-width: 80rem;

    @media (--md) {
      @apply flex-row;
    }

    &__img-group {
      @apply relative w-full  mb-4;

      @media (--md) {
        @apply mb-0;
        width: 56.25%;
      }
    }

    &__text-group {
      @apply relative w-full text-center;

      @media (--md) {
        @apply text-left ml-auto pr-5;
        width: 37.5%;
      }

      @media (--lg) {
        @apply pr-8;
      }
      @media (--xl) {
        @apply pr-0;
      }
    }
  }

  &__text-block {
    @apply text-center px-4;
    max-width: 22rem;

    @media (--lg) {
      max-width: 24rem;
    }

    @media (--xxl) {
      max-width: 26rem;
    }
  }

  &__text {
    @apply text-white text-xs mb-5 leading-tight;
    text-shadow: 0 1px 10px #000;

    @media (--sm) {
      @apply text-sm;
    }
  }
}
