.tab {
  @apply flex flex-col justify-center items-center h-full pt-4 mx-auto;
  width: 70%;

  &__PlayBox {
    max-width: 88%;
  }

  &__Eye {
    max-width: 44%;
  }

  &__text {
    @apply text-sm text-center text-white mt-3 mb-4;

    @media (--sm) {
      @apply text-lg;
    }
  }
}

.l-tab {
  @apply flex-grow flex justify-center items-center opacity-50;

  transition: opacity 300ms ease-out;

  &:not(:first-child) {
    @apply border-l border-gray-700;
  }

  &:hover {
    @apply opacity-100;

    cursor: pointer;
  }

  &--is-active {
    @apply opacity-100;

    box-shadow: inset 0 -5px 0 #fff;
  }
}
