@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'components/tab-switch.css';
@import 'components/slider.css';
@import 'components/slide.css';
@import 'components/carousel.css';
@import 'components/carousel-item.css';
@import 'components/carousel-item-animation.css';
@import 'components/carousel-coin.css';
@import 'components/tile-row.css';
@import 'components/tile.css';

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);

.hero {
  padding-top: 265px;

  @media (--sm) {
    padding-top: 570px;
  }
}

.ratio-16-9 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 56.25%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.ratio-2-1 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 50%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.absolutely-centered {
  @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center;
}

.absolutely-covered {
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover;
}

.h-sm {
  height: 55px;
}

.link-btn {
  @apply inline-block px-6 py-3 mb-1 bg-gray-100 text-xs;
}

.watch-btn {
  @apply px-4 py-2 text-sm bg-gray-100;
}

.bottom-10 {
  bottom: 10%;
}

.w-56 {
  width: 56.25%;
}

.w-37 {
  width: 37.5%;
}

.sm-w-56 {
  @media (--sm) {
    width: 56.25%;
  }
}

.sm-w-37 {
  @media (--sm) {
    width: 37.5%;
  }
}

.pb-40 {
  padding-bottom: 40%;
}

.pt-16-9 {
  padding-top: 40%;
}

.h-368 {
  height: 368px;
}

.text-shadow {
  text-shadow: 0 1px 10px #000;
}

.scrim {
  background-image: linear-gradient(
    to top,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.z-neg {
  z-index: -1;
}
