@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);

.hero {
  padding-top: 265px;
}

.hero {
  @media (--sm) {
    padding-top: 570px;
  }
}

.ratio-16-9 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 56.25%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.tile {
  transition: 400ms transform linear;
}

.row:hover .tile {
  transform: translateX(-25%);
}

.row {
  padding: 0 3%;
}

.tile:hover ~ .tile {
  transform: translateX(25%);
}

.row .tile:hover {
  transform: scale(1.5);
}

.h-sm {
  height: 55px;
}

.carousel-primary__switch {
  @apply flex-1 flex flex-col justify-center items-center pt-4 opacity-50;

  transition: opacity 300ms ease-out;

  &:hover {
    @apply opacity-100;

    cursor: pointer;
  }

  &--is-active {
    @apply opacity-100;
  }
}
