@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'components/all-films.css';
@import 'components/carousel.css';
@import 'components/carousel-item.css';
@import 'components/carousel-item-animation.css';
@import 'components/carousel-coin.css';
@import 'components/carousel-coin-group.css';
@import 'components/content-row.css';
@import 'components/filter-btn.css';
@import 'components/film-table.css';
@import 'components/selection.css';
@import 'components/slide.css';
@import 'components/slider.css';
@import 'components/slider-row.css';
@import 'components/sort-direction-toggle.css';
@import 'components/sort-selector.css';
@import 'components/tab-switch.css';
@import 'components/tile-group.css';
@import 'components/tile.css';

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);

body {
  background-color: #151515;
}

.hero {
  padding-top: 265px;

  @media (--sm) {
    padding-top: 570px;
  }
}

.ratio-16-9 {
  position: relative;
  /* overflow: hidden; */
  display: block;
  padding-top: 56.25%;
  background-color: transparent;

  &--split {
    padding-top: 28.125%;
  }

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.ratio-2-1 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 50%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.absolutely-centered {
  @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center;
}

.absolutely-covered {
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover;
}

.h-sm {
  height: 55px;
}

.link-btn {
  @apply inline-block px-6 py-3 mb-1 bg-gray-100 text-xs;
}

.watch-btn {
  @apply px-4 py-2 text-sm bg-gray-100 uppercase;
}

.bottom-10 {
  bottom: 10%;
}

.w-56 {
  width: 56.25%;
}

.w-37 {
  width: 37.5%;
}

.sm-w-56 {
  @media (--sm) {
    width: 56.25%;
  }
}

.sm-w-37 {
  @media (--sm) {
    width: 37.5%;
  }
}

.pb-40 {
  padding-bottom: 40%;
}

.pt-16-9 {
  padding-top: 40%;
}

.h-368 {
  height: 368px;
}

.text-shadow {
  text-shadow: 0 1px 10px #000;
}

.scrim {
  background-image: linear-gradient(
    to top,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.z-neg {
  z-index: -1;
}

.px-4-percent {
  padding: 0 4%;
}

table, thead, tbody, tfoot, tr, td, th, caption {
  display: block;
}

table {
  @media (--md) {
  display: table;
  table-layout: fixed;
  }
}

thead {
  @media (--md) {
  display: table-header-group;
  }
}

tbody {
  @media (--md) {
  display: table-row-group;
  }
}

tr {
  @media (--md) {
  display: table-row;
  }
}

th {
  @media (--md) {
  display: table-cell;
  }
}

td{
  @media (--md) {
  display: table-cell;
  }
}

.text-light-gray {
  color: #bebebb;
}

.tr-overlay {
  @apply absolute top-0 bottom-0 left-0 right-0;
  /* don't cover entire row */
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(74, 71, 71);
  opacity: 0;
  transition: opacity .3s ease;

  &:hover,
  &:focus {
    opacity: .2;
  }
}

.bg-main {
  background-color: #151515;
}

.min-w-178 {
  min-width: 178px;
}

.icon--positioned-right {
  position: absolute;
  right: 6%;
  transition: fill .3s ease-in-out;
}

.h-56 {
  height: 56px;
}

.w-56 {
  width: 56px;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.w-18 {
  width: 18px;
}

.h-18 {
  height: 18px;
}

.tooltip {
  @apply bg-white text-black absolute;
  padding: 2px;
  /* width: 72px; */
  /* height: 18px; */
  width: 118px;
  height: 28px;
  /* display: flex; */
  display: none;
    justify-content: center;
    align-items: center;
  top: 138%;

  &:before {
    content: "";
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  }
}

.font-2xs {
  font-size: .5rem;
}

.myList-btn {
  @apply relative rounded-full flex justify-center items-center bg-main border border-white z-10 cursor-pointer opacity-0;
  width: 18px;
  height: 18px;
  transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);;
  transition-delay: 400ms;

  &:hover {
    .tooltip {
      display: flex;
    }
  }
}

.chevron-toggler {
  width: 18px;
  height: 18px;
  transition: transform .2s ease-in-out;

  &--is-flipped {
    transform: rotate(180deg);
  }
}

.max-w-80 {
  max-width: 80rem;
}
