.modal {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20;
  background: rgba(20, 20, 20, 0.95);
  overflow-x: hidden;
  overflow-y: scroll;

  &__header {
    @apply flex p-5;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out 0s;
  }
  &-exit {
    opacity: 1;
    overflow-y: hidden;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in 0s;
  }
}
