.modal {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20;
  background: rgba(20, 20, 20, 0.95);
  overflow-x: hidden;
  overflow-y: scroll;
  /* Tile hover state will cause scrollbar flicker in Chrome if (1) the body overflow is blocked,
    (2) a position absolute is superimposed into view, and (3) the width of the viewport is just
    wide enough to create an empty scrollbar (a scrollbar emerges but there is no scrollable
    content). The latter condition occurs quite rarely, but this is why I've opted for
    overflow-y: scroll. */
  width: 100vw;
  /* prevent scrollbars from stacking next to each other */

  &__header {
    @apply flex p-5;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}
