.tab-panel {
  @apply absolute top-0 bottom-0 left-0 right-0;

  width: 33.333333%;

  &:nth-of-type(2) {
    left: 33.333333%;
  }

  &:nth-of-type(3) {
    left: 66.666666%;
  }

  &--centered {
    @apply flex justify-center items-center px-2 flex-col;

    @media (--md) {
      @apply flex-row;
    }

    &__img-group {
      @apply relative w-full  mb-3;

      @media (--md) {
        @apply mb-0;
        width: 56.25%;
      }
    }

    &__text-group {
      @apply relative w-full text-center;

      @media (--md) {
        @apply text-left ml-auto;
        width: 37.5%;
      }
    }
  }

  &__text-block {
    @apply max-w-xs text-center;
  }

  &__text {
    @apply text-white text-sm mb-5 leading-tight;

    text-shadow: 0 1px 10px #000;
  }
}
