.tab-panel-slider {
  @apply absolute top-0 bottom-0 left-0 right-0;

  transition: all 300ms ease-out;
  width: 300%;
  /* width = 100% * number of tab-panels */

  &--position-1 {
    transform: translateX(0);
  }

  &--position-2 {
    transform: translateX(-33.333333%);
  }

  &--position-3 {
    transform: translateX(-66.666666%);
  }
}

.l-tab-panel-slider {
  position: relative;
  overflow: hidden;
  padding-top: 117%;

  @media (--sm) {
    padding-top: 570px;
  }
}
