.carousel-item {
  @apply absolute top-0 left-0 right-0 bottom-0 z-neg opacity-0;
  transition: all 800ms ease;

  &--is-active {
    @apply z-10 opacity-100;
  }

  &__text-block {
    @apply hidden absolute left-0 bottom-10 z-10 max-w-md;
    padding-left: 40px;

    @media (--sm) {
      @apply block;
    }
    @media (--md) {
      padding-left: 57px;
    }
  }

  &__mobile-text-block {
    @apply absolute left-0 right-0 bottom-0 text-center opacity-0 z-neg;
    transition: all 800ms ease;
    margin-bottom: 32px;
    /* margin-bottom: 50px; */

    @media(--sm) {
      @apply hidden;
    }

    &--is-active {
      @apply opacity-100;
    }
  }

  &__title {
    @apply text-white text-2xl font-semibold mb-3;

    @media (--sm) {
      @apply text-3xl mb-0;
    }
  }

  &__description {
    @apply hidden text-gray-200 text-shadow leading-snug mb-4 text-sm;

    @media (--sm) {
      @apply block;
    }
  }

  &__img-block {
    @apply flex scrim w-full;
    height: calc(100% - 36px - 40px);
    /* subtract out the height of the carousel-item__mobile-text-block and the carouselCoins */

    @media (--sm) {
      @apply h-full;
    }

    @media (--sm) {
      @apply max-w-lg absolute top-0 bottom-0 right-0;
    }

    @media (--md) {
      @apply max-w-xl;
    }

    @media (--lg) {
      @apply max-w-3xl;
    }

    @media (--xl) {
      max-width: 58rem;
    }

    @media (--xxl) {
      @apply max-w-6xl;
    }
  }

  &__img {
    @apply h-full w-full object-cover z-neg;
  }
}
