.carousel {
  @apply mb-4 w-full relative bg-black;
  padding-top: calc(56.25% + 36px + 40px);
  /* add in the height of the carousel-item__mobile-text-block and the carouselCoins */

  &:hover .carousel__chevron,
  &:hover .carousel-coin {
    transition: opacity 300ms ease;
    opacity: 0.6;
  }

  &:hover .carousel-coin--is-active {
    opacity: 1;
  }

  .carousel__chevron:hover,
  .carousel__chevron:focus {
    opacity: 1;
  }

  @media (--sm) {
    min-height: 368px;
    padding-top: 46.5%;
  }

  @media (--md) {
    min-height: 368px;
    padding-top: 37.5%;
  }
}
