.slider-row {
  padding: 0 4%;

  &__content-preview {
    @apply flex justify-center items-center;

    position: absolute;
    top: 0;
    background: rgba(20, 20, 20, 0.5);
    width: 4%;
    height: 100%;
    text-align: center;

    &--left {
      left: 0;
      z-index: 10;
      padding-right: 2px;
    }

    &--right {
      right: 0;
      padding-left: 2px;
    }
  }

  &__btn {
    @apply w-full flex justify-center items-center;
  }

  &:hover .slider-row__btn {
    opacity: 1;
  }

  &__chevron {
    height: 100%;
    width: 100%;
    max-width: 25px;

    @media (--lg) {
      max-width: 32px;
    }
    @media (--xl) {
      max-width: 36px;
    }
  }
}
