.slider-row {
  padding: 0 4%;

  &__content-preview {
    @apply flex justify-center items-center;

    position: absolute;
    top: 0;
    background: rgba(20, 20, 20, 0.5);
    width: 4%;
    height: 100%;
    text-align: center;

    &--left {
      left: 0;
      z-index: 10;
    }

    &--right {
      right: 0;
    }
  }

  &:hover .slider-row__btn {
    opacity: 1;
  }

  &__chevron {
    height: 18px;
    width: 18px;

    @media(--sm) {
      height: 25px;
      width: 25px;
    }
  }
}
