#root {
  @apply flex flex-col min-h-screen;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  transition: background-color 200ms linear;
}

/* main and root styles to ensure that footer doesn't creep up the page
in the event that there isn't much content within main */
main {
  flex: 1 1 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table,
thead,
tbody,
tfoot,
tr,
td,
th,
caption {
  display: block;
}

table {
  @media (--md) {
    display: table;
    table-layout: fixed;
  }
}

thead {
  @media (--md) {
    display: table-header-group;
  }
}

tbody {
  @media (--md) {
    display: table-row-group;
  }
}

tr {
  @media (--md) {
    display: table-row;
  }
}

th {
  @media (--md) {
    display: table-cell;
  }
}

td {
  @media (--md) {
    display: table-cell;
  }
}

.bg-main {
  background-color: #151515;
}

.bg-form {
  background-color: #68696f;
}

.text-light-gray {
  color: #bebebb;
}

.border-gray {
  border-color: #383838;
}

.bottom-10 {
  bottom: 10%;
}

.text-shadow {
  text-shadow: 0 1px 10px #000;
}

.z-neg {
  z-index: -1;
}

.font-logo {
  font-family: 'IBM Plex Mono', monospace;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.absolutely-centered {
  @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center;
}

.absolutely-covered {
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover;
}

.ratio-16-9 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 56.25%;
  background-color: transparent;

  &--split {
    padding-top: 28.125%;
  }

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    margin: auto;
  }

  &--overflowed {
    overflow: visible;
  }

  &--left-aligned {
    img {
      margin: auto 0;
    }
  }
}

.ratio-2-1 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 50%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

/* nicked from bootstrap */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* nicked from https://css-tricks.com/easing-linear-gradients/ */
.scrim {
  background-image: linear-gradient(
    to top,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

/* .exploder {
  @apply absolute top-0 bottom-0 left-0 right-0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
  backface-visibility: hidden;
  transform: scale(calc(1 / 1.5));
  width: 150%;
  height: 150%;
  transition: opacity 400ms cubic-bezier(0, 0, 0.2, 1);
  transform-origin: top left;
  transition-delay: 400ms;
} */

.exploder {
  @apply absolute z-10;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  /* background-color: rgba(0, 0, 0, 0.55); */
  backface-visibility: hidden;

  &--is-left-edge {
    left: 0;
    transform-origin: left;
  }

  &--is-right-edge {
    left: -50%;
    transform-origin: right;
  }

  &-enter {
    transform: scale(calc(2 / 3));
    visibility: hidden;
  }

  &-enter-active {
    transform: scale(1);
    visibility: visible;
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1),
      visibility 0ms cubic-bezier(0, 0, 0.2, 1);
    /* all we want for visibility here is to be delayed */
    transition-delay: 400ms;
  }
  &-exit {
    transform: scale(1);
    visibility: visible;
  }

  &-exit-active {
    transform: scale(calc(2 / 3));
    visibility: hidden;
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1),
      visibility 400ms cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 400ms;
  }
}

.bgo {
  background-color: rgba(0, 0, 0, 0.55);
}

.tr-overlay {
  @apply absolute top-0 bottom-0 left-0 right-0;
  /* don't cover entire row */
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(74, 71, 71);
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.2;
  }
}

.a-pseudo-wrap {
  &::after {
    @apply absolute top-0 bottom-0 right-0 left-0;
    content: '';
  }
  &--mb {
    &::after {
      @apply absolute top-0 bottom-0 right-0 left-0;
      content: '';
      margin-bottom: 40px;
    }
  }
}

.rotate-transition {
  transition: transform 300ms ease-in-out;
}

.icon--positioned-right {
  position: absolute;
  right: 6%;
  transition: fill 0.3s ease-in-out;
}

.mirror {
  transition: transform 0.2s ease-in-out;

  &--is-active {
    transform: rotate(180deg);
  }
}

.input-stripped {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.input--no-ring {
  &::placeholder {
    color: #bebebb;
  }
}

.placeholder-color::-webkit-input-placeholder {
  color: #9b9b9b;
}

.placeholder-color::-moz-placeholder {
  color: #9b9b9b;
}

.placeholder-color::-ms-input-placeholder {
  color: #9b9b9b;
}

.placeholder-color:-moz-placeholder {
  color: #9b9b9b;
}

.page-fade {
  &-enter {
    overflow: hidden;
    /* overflow hidden eases scrollbar transitions */
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 150ms ease-in 150ms;
  }

  &-exit {
    opacity: 1;
    /* have exiting page overlap via absolute positioning */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* width here prevents content from jumping to left in the event that you are
    transitioning from a page without a scrollbar to a page with a scrollbar */
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-in;
  }
}

@keyframes pulse {
  0% {
    background-color: #1f1f1f;
  }
  25% {
    background-color: #333333;
  }
  50% {
    background-color: #1f1f1f;
  }
  100% {
    background-color: #1f1f1f;
  }
}
@keyframes enterFromLeft {
  0% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes enterFromRight {
  0% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes exitToLeft {
  100% {
    transform: translateX(-60px);
  }
}

@keyframes exitToRight {
  100% {
    transform: translateX(60px);
  }
}

.exit-to-left {
  animation: exitToLeft 800ms ease;
}

.exit-to-right {
  animation: exitToRight 800ms ease;
}

.enter-from-left {
  animation: enterFromLeft 800ms ease;
}

.enter-from-right {
  animation: enterFromRight 800ms ease;
}
