@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'components/BtnPrimary/btn-primary.css';
@import 'components/Carousel/carousel.css';
@import 'components/Carousel/carousel-item.css';
@import 'components/Carousel/carousel-item-animation.css';
@import 'components/Carousel/carousel-coin.css';
@import 'components/Carousel/carousel-coin-group.css';
@import 'components/ContentRows/content-row.css';
@import 'components/FilmTable/film-table.css';
@import 'components/HamburgerToggle/hamburger-toggle.css';
@import 'components/Hero/hero.css';
@import 'components/InputAnimated/animated-label.css';
@import 'components/Modal/modal.css';
@import 'components/Navbar/collapsible-group.css';
@import 'components/Navbar/navbar.css';
@import 'components/RadioInputCustom/custom-radio.css';
@import 'components/RadioInputCustom/hidden-input.css';
@import 'components/SearchFilter/search-filter.css';
@import 'components/SearchFilterTrigger/search-filter-trigger.css';
@import 'components/SelectCustom/select-custom.css';
@import 'components/SliderContainer/Slider/slide.css';
@import 'components/SliderContainer/Slider/slider.css';
@import 'components/SliderContainer/SliderSwitches/slider-switch.css';
@import 'components/SliderRow/slider-row.css';
@import 'components/SortDirectionToggle/sort-direction-toggle.css';
@import 'components/SubscriptionDetails/subscription-description.css';
@import 'components/SubscriptionType/subscription-type.css';
@import 'components/Tiles/tile.css';
@import 'components/Tiles/tile-group.css';
@import 'components/ToggleToMyListBtn/toggle-to-MyList-btn.css';
@import 'components/ToggleToMyListBtn/tooltip.css';
@import 'components/UserInfo/user-info.css';
@import 'Pages/AllFilms/all-films.css';
@import 'Pages/Selection/selection.css';

@custom-media --sm (min-width: 500px);
@custom-media --md (min-width: 800px);
@custom-media --lg (min-width: 1100px);
@custom-media --xl (min-width: 1400px);
@custom-media --xxl (min-width: 1600px);

body {
  background-color: #151515;
  transition: background-color 200ms linear;
}

#root {
  @apply flex flex-col min-h-screen;
}

/* main and root styles to ensure that footer doesn't creep up the page
in the event that there isn't much content within main */
main {
  flex: 1 0 auto;
}

.bg-main {
  background-color: #151515;
}

.bg-form {
  background-color: #68696f;
}

.light-gray {
  color:  #bebebb ;
}

.border-gray {
  border-color: #383838;
}

.ratio-16-9 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 56.25%;
  background-color: transparent;

  &--split {
    padding-top: 28.125%;
  }

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
  &--overflowed {
    overflow: visible;
  }
}

.ratio-2-1 {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 50%;
  background-color: transparent;

  img {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.mirror {
  transition: transform .2s ease-in-out;

  &--is-active {
    transform: rotate(180deg);
  }
}

.absolutely-centered {
  @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center;
}

.absolutely-covered {
  @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover;
}

.h-sm {
  height: 55px;
}

.bottom-10 {
  bottom: 10%;
}

.max-w-80 {
  max-width: 80rem;
}

.max-w-7xl {
  max-width: 82.5em;
}


.text-shadow {
  text-shadow: 0 1px 10px #000;
}

.scrim {
  background-image: linear-gradient(
    to top,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}

.z-neg {
  z-index: -1;
}

table, thead, tbody, tfoot, tr, td, th, caption {
  display: block;
}

table {
  @media (--md) {
  display: table;
  table-layout: fixed;
  }
}

thead {
  @media (--md) {
  display: table-header-group;
  }
}

tbody {
  @media (--md) {
  display: table-row-group;
  }
}

tr {
  @media (--md) {
  display: table-row;
  }
}

th {
  @media (--md) {
  display: table-cell;
  }
}

td{
  @media (--md) {
  display: table-cell;
  }
}

.text-light-gray {
  color: #bebebb;
}

.tr-overlay {
  @apply absolute top-0 bottom-0 left-0 right-0;
  /* don't cover entire row */
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(74, 71, 71);
  opacity: 0;
  transition: opacity .3s ease;

  &:hover,
  &:focus {
    opacity: .2;
  }
}

.icon--positioned-right {
  position: absolute;
  right: 6%;
  transition: fill .3s ease-in-out;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.input-stripped {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;

}

.input--no-ring {
  &::placeholder {
    color: #bebebb;
  }
}

.placeholder-color::-webkit-input-placeholder {
	color: #9b9b9b;
}

.placeholder-color::-moz-placeholder {
	color: #9b9b9b;
}

.placeholder-color::-ms-input-placeholder {
	color: #9b9b9b;
}

.placeholder-color:-moz-placeholder {
	color: #9b9b9b;
}

.bg-overlay {
  @apply flex flex-col items-center justify-around w-full h-full opacity-0;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 400ms ease-in-out;
  transition-delay: 400ms;
  /* &:hover {
    transform: scale(1.5) translateZ(0px);
    } */
}

.ml-35 {
  padding-left: .35rem;
}

.a-pseudo-wrap {
  &::after {
    @apply absolute top-0 bottom-0 right-0 left-0;
    content: '';
  }
}

.rotate-transition {
  transition: transform 300ms ease-in-out;
}
